body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 30px;
}

h2 {
    text-align: left;
    margin-bottom: 40px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

body > label,
body > input {
 display: inline-block;
 vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 6;}
    .item3 {grid-area: 3 / span 6;}
    .item4 {grid-area: 4 / span 6;}
    .item5 {grid-area: 5 / span 6;}
  }
  
  @media only screen and (min-width: 600px) {
    .item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 1;}
    .item3 {grid-area: 2 / span 4;}
    .item4 {grid-area: 3 / span 6;}
    .item5 {grid-area: 4 / span 6;}
  }
  
  @media only screen and (min-width: 768px) {
    .item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 1;}
    .item3 {grid-area: 2 / span 4;}
    .item4 {grid-area: 2 / span 1;}
    .item5 {grid-area: 3 / span 6;}
  }
  
   label, input {
    margin-bottom: 10px;
   }